// 字體

// 顏色
$color-text: #181818;
$color-primary: #006CE1;
$color-primary-hover: #0051A8;
$color-disable: #B3B3B3;
$color-error: #B42D18;
$color-input-border: #818181;
$color-prompt-bg: #FAF4D7;
$color-black: #000;
$color-gray-1: #4D4D4D;
$color-gray-2: #666666;
$color-gray-3: #707070;
$color-gray-4: #CCCCCC;
$color-gray-5: #D9D9D9;
$color-white: #fff;
$color-footer: #DBDBDB;